/* Plik: src/Components/Form.module.css */
.formWrapper p {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Mniejszy gap, bo label ma swój margines */
  text-align: left;
}

.form button {
  margin-top: 1rem;
  width: 100%; /* Przycisk na całą szerokość formularza */
}

.switchForm {
  margin-top: 2rem;
  font-size: 0.9rem;
}